// body {
//     position: relative;
//   }

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1em;
    margin-left: 100px;
}
.title2 {
    font-weight: bold;
    font-size: 1.2rem;
}